<nav class="navbar navbar-expand-lg   justify-content-evenly" style="background: linear-gradient(90deg, rgba(139,244,176,1) 36%, rgba(142,215,239,1) 76%);">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#" style="font-size: 25px ; font-weight: bolder;"><i class="fa-solid fa-hurricane"></i>
          Shopix</a>
        <form class="d-flex  justify-content-center flex-grow-1" role="search">
            <input class="form-control  me-2" style="width: 500px;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass text-light"></i></button>
          </form>
    
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item border rounded d-flex me-2 text-light">
              <a class="nav-link active text-light " aria-current="page" href="#"><i class="fa-solid fa-heart me-2 "></i>WishList<span class="badge bg-secondary ms-2">6</span></a>
            </li>
            <li class="nav-item border rounded d-flex me-2">
                <a class="nav-link active text-light" aria-current="page" href="#"><i class="fa-solid fa-cart-shopping me-2"></i>Cart<span class="badge bg-secondary ms-2">4</span></a>
              </li>
              <li class="nav-item border rounded d-flex">
                <a class="nav-link active text-light" aria-current="page" href="#"><i class="fa-solid fa-user me-2"></i>Login</a>
              </li>
          </ul>
      </div>
  
      <!-- Center: Search bar -->
      
        
      </div>
  </nav>
  