<!-- footer.component.html -->
<style>
    a{
        text-decoration: none;
        color: white;
    }
    
</style>
<footer class="footer bg-dark text-light mt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 mt-3">Product Categories</h5>
          <ul class="list-unstyled">
            <li><a href="#">Electronics</a></li>
            <li><a href="#">Clothing</a></li>
            <li><a href="#">Home & Living</a></li>
            <li><a href="#">Toys & Games</a></li>
          </ul>
        </div>
  
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 mt-3">Customer Service</h5>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:info@example.com">Contact Us</a>
            </li>
            <li><a href="#">Returns & Exchanges</a></li>
            <li><a href="#">Shipping Information</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
  
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 mt-3">Connect With Us</h5>
          <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Pinterest</a></li>
          </ul>
        </div>
  
        <div class="col-md-3 col-sm-6">
          <h5 class="text-uppercase mb-4 mt-3">Newsletter</h5>
          <p>Subscribe to our newsletter for the latest updates and promotions.</p>
          <form>
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email address" aria-label="Email address" aria-describedby="button-addon2">
              <button class="btn btn-outline-light" type="button" id="button-addon2">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
  