<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5 border shadow rounded p-5 justify-content-center align-items-center">
        <div class="title d-flex justify-content-center align-items-center p-4" style="margin-left: 200px; border-radius: 50%; border: 1px solid red; width: 60px; height: 60px;">
          <i style="font-size: 40px;" class="fa-solid fa-user text-danger"></i>
        </div>
        <h2 class="text-danger text-center mb-4">Welcome User</h2>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" required>
              </div>
              <button type="submit" class="btn w-100 " style="background: linear-gradient(90deg, rgba(139,244,176,1) 36%, rgba(142,215,239,1) 76%);">Login</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5" style="position: relative;">
        <div class=" align-items-center mt-5" style="position: absolute; width: 100%; top: 0; text-align: center; padding: 20px; color: #fff;">
          <h2 class="text-light fw-bold">Shopix</h2>
          <h3 class="text-light fw-bold">Dont Have An Account?</h3>
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Et molestias deleniti velit ab sint, optio eos cupiditate incidunt quae, quibusdam dignissimos magni nostrum vel veritatis a, aut accusantium. Itaque, dignissimos?</p>
          <button class="btn border text-light" >Sign Up</button>
        </div>
        <img src="https://img.freepik.com/free-photo/full-shot-woman-posing-with-shopping-bags_23-2149220636.jpg?size=626&ext=jpg&ga=GA1.1.1839676759.1691813912&semt=ais" width="100%" height="100%" style="object-fit: cover;" alt="">
      </div>
      
        
    </div>
  </div>
  